*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: beige;
}

body {
    background-color: #f2f2f2;
}

nav {
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FDB61C;
    font-weight: 700;
    padding: 8px 2px;
    transition: all;
    transition-duration: 300ms;
    border-radius: 1px solid rgba(255, 68, 0, 0);
}

nav div img {
    width: 50px;
    height: 50px;
}

nav ul li a:hover {
    color: orangered;
    border-bottom: 1px solid orangered;
}

.img2 {
    width: 550px;
    padding-top: 0px;
    padding-left: 50px;
}

div {
    display: flex;
    align-items: center;
    gap: 2px;
    background-color: beige;
}

div p {
    padding-right: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    padding-block-start: 1rem;
}


div ul li {
    padding-left: 50px;
    padding-top: 20px;
    list-style: none;
}

div ul li h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 1000;
    color: #805b0d;
    font-size: 60px;
}

.salam {
    color: #c68c0e;
}

.header {
    margin: 30px o;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FDB61C;
    display: grid;
    text-align: center;
    padding-top: 10px;
}

.funfact {
    color: #5e430a;
    padding-left: 20px;
    text-align: left;
}

.galery {
    margin: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-top: 0;
}

.footer {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 30px 20px;
  justify-content: center;
}

.sosialicon {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    font-size: smaller;
}
